@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #fffff0;
}

a,
h4,
p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.hero {
  background-image: linear-gradient(to right, #f8f8d58f, #dbc1ac97),
    url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
  padding: 5vh 2rem;
}

.hero__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.hero__title {
  font-family: "Nunito", sans-serif;
  font-size: 6.4rem;
}

.hero__logo {
  height: 20rem;
}

.hero__slogan {
  font-family: "Nunito", sans-serif;
  font-size: 4.8rem;
  text-align: center;
}

.menu {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.menu__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6rem 4rem;
}

.menu__title {
  font-family: "Nunito", sans-serif;
  font-size: 5rem;
  text-align: center;
  width: 100%;
}

.menu__card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  width: 35rem;
  border-radius: 1rem;
}

.menu__side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  inset: 0;
  transition: all 0.8s ease;
  overflow: hidden;
  border-radius: 0.6rem;
}

.menu__side-front {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__side-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbc1ac;
}

.menu__photo-front {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.menu__item--name-front {
  display: inline-block;
  font-size: 2rem;
  margin-top: -6rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.6rem 1.2rem;
}

.menu__photo-back {
  height: 60%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
}

.menu__item--name-back {
  font-size: 2rem;
}

.menu__item--description {
  font-size: 1.8rem;
  margin-top: auto;
  padding: 0 2.5rem 2.5rem;
}

.menu__card:hover .menu__side-front {
  transform: rotateY(-180deg);
}

.menu__card:hover .menu__side-back {
  transform: rotateY(0);
}

footer {
  background-color: #dbc1ac;
  margin-top: 2.4rem;
  padding: 2.4rem 4.8rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer section {
  display: flex;
  flex-direction: column;
}

.contact div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-logo {
  width: 22rem;
}

.icon {
  width: 4rem;
}

.icon-small {
  width: 2rem;
}

.align-vertical {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.hours p {
  margin: 0.8rem 0;
  color: #634832;
}

.hours h4 {
  margin-top: 1.2rem;
}

.about {
  margin: auto 0;
}

.about a {
  text-decoration: none;
  color: #634832;
  font-weight: 600;
  margin-top: 0.8rem;
}

@media only screen and (max-width: 780px) {
  html {
    font-size: 50%;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__logo {
    height: 12rem;
  }

  .hero__slogan {
    font-size: 2.4rem;
  }

  .menu__title {
    font-size: 3rem;
  }

  .menu__side-front {
    display: none;
  }

  .menu__side-back {
    transform: rotateY(0);
  }

  footer {
    flex-direction: column;
    position: relative;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
